# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=328f5349c3eaefd0d1f801609790a749
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=lingoda
DATABASE_USER=root
DATABASE_PASSWORD=1